.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}
.bck-in{
    background-image: url(https://i.imgur.com/xMg61t4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
